<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td>Id</td>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>correo</td>
                                <td>tipo documento</td>
                                <td>Documento</td>
                                <td>Atencion prioritario</td>
                            </tr>
                            @foreach( var Item in Model){
                                <tr>
                                    <td>@Item.Id</td>
                                    <td>@Item.Nombre</td>
                                    <td>@Item.Apellido</td>
                                    <td>@Item.Email</td>
                                    <td>@Item.Id_Tipo_Documento</td>
                                    <td>@Item.Documento</td>
                                    <td>@Item.Id_AtencionPrioritario</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>