@model List<Turno>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="fw-bold display-5 text-center">Lista de turnos</p>
            <p class="text-center display-6">Bienvenido asesor: @ViewBag.NombreAsesor</p>
            <p class="text-center h5 fw-bold">@ViewBag.ServicioAsesor</p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <div class="mb-2">
                <form asp-action="Logout" asp-Controller="Asesores" method="post">
                    <div class="d-grid">
                        <button class="btn btn-primary btn-md" type="submit">Cerrar sesión</button>
                    </div>
                </form>
            </div>
            <div class="mb-2">
                <button class="btn btn-secondary btn-md">Cambiar Cargo</button>
            </div>
        </div>       
        <div class="col-md-12">
            <table class="table table-bordered bg-light">
                <thead>
                    <tr class="table-secondary">
                        <th class="text-center">Id</th>
                        <th class="text-center">Turno</th>
                        <th class="text-center">Servicio</th>
                        <th class="text-center">Llamar Turno</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Finalizar Turno</th>
                        </tr>
                </thead>
                <tbody>
                    @foreach(var turno in Model){
                    <tr>
                        <td>@turno.Id</td>
                        <td>@turno.DigitoTurno</td>
                        <td>@turno.IdServicio</td>
                        <td>
                            <div class="text-center">
                                <form asp-route-id="@turno.Id" asp-action="LlamarTurno" asp-controller="Asesores" method="post">
                                    <button type="submit" class="btn btn-primary btn-sm">Aceptar turno Llamar</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="mb-2 text-center">
                                <form asp-route-id="@turno.Id" asp-action="TurnoPresente" asp-controller="Asesores" method="post">
                                    <button type="submit" class="btn btn-success btn-sm">Presente</button>
                                </form>
                            </div>
                            <div class="text-center">
                                <form asp-route-id="@turno.Id" asp-action="TurnoAusente" asp-controller="Asesores" method="post">
                                    <button type="submit" class="btn btn-secondary btn-sm">Ausente</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <form asp-route-id="@turno.Id" asp-action="TurnoFinalizado" asp-controller="Asesores" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Finalizar turno</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        @*--------- Mensaje de confirmacion del llamado del turno ---------------*@
        @{
            var turnoLlamado = Context.Session.GetInt32("TurnoLlamadoId");
        }
        @if (turnoLlamado != null){ 
            <div class="alert alert-primary mt-2 text-center" role="alert">
                @TempData["confirmacionLlamado"] 
            </div>
            
        }
        @*------------ Mensaje de confirmacion de que el usuario asistio al llamado----------- *@
        @if(TempData["TurnoPresente"] != null){
            <div class="alert alert-success mt-2 text-center" role="alert">
                @TempData["TurnoPresente"] 
            </div>
        }
        @*------------ Mensaje de confirmacion de se completo el turno----------- *@
        @if(TempData["TurnoCompletado"] != null){
            <div class="alert alert-success mt-2 text-center" role="alert">
                @TempData["TurnoCompletado"]
            </div>
        }

        @*------------ Mensaje de confirmacion de se completo el turno----------- *@
        @if(TempData["TurnoAusente"] != null){
            <div class="alert alert-danger mt-2 text-center" role="alert">
                @TempData["TurnoAusente"]
            </div>
        }
    </div>
</div>